# Controller server using rotation shim to pre-align robot to path heading
controller_server:
  ros__parameters:
    odom_topic: "/odom"
    use_sim_time: False
    controller_frequency: 20.0
    min_x_velocity_threshold: 0.001
    min_y_velocity_threshold: 0.001
    min_theta_velocity_threshold: 0.001
    failure_tolerance: 0.3
    progress_checker_plugin: "progress_checker"
    goal_checker_plugins: ["general_goal_checker"]
    controller_plugins: ["FollowPath"]
    # Progress checker parameters
    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.1
      movement_time_allowance: 25.0
    # Goal checker parameters
    general_goal_checker:
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.15
      yaw_goal_tolerance: 0.15
      stateful: True
    # Use rotation shim controller to rotate robot towards path heading
    FollowPath:
      plugin: "nav2_mppi_controller::MPPIController"

      # --- MPPI: robot holonomic ---
      motion_model: Omni
      batch_size: 1500
      time_steps: 40
      model_dt: 0.05
      temperature: 0.2

      # Batas kecepatan (target) & sampling
      vx_max: 0.6
      vx_min: -0.2
      vy_max: 0.6
      wz_max: 1.8
      vx_std: 0.25
      vy_std: 0.25
      wz_std: 0.6

      # Batas akselerasi
      ax_max: 2.5
      ax_min: -2.5
      ay_max: 2.5
      ay_min: -2.5
      az_max: 3.2

      # Kritic untuk arah & keamanan
      critics: ["ObstaclesCritic", "PathFollowCritic", "PathAngleCritic", "GoalAngleCritic", "PreferForwardCritic", "TwirlingCritic", "GoalCritic"]
      
      ObstaclesCritic:
        enabled: true
<<<<<<< HEAD
        consider_footprint: false
=======
        consider_footprint: true
>>>>>>> 8719e0f (update mppi)
        repulsion_weight: 1.2        # mulai 0.8–2.0, turunkan bila robot "takut" masuk koridor
        critical_weight: 25.0        # 15–30 umum; naikkan kalau masih berani mepet
        cost_power: 1
        collision_cost: 100000.0
        collision_margin_distance: 0.15   # 0.10–0.15 pas untuk koridor ~0.65 m
        # near_goal_distance: 0.5
        cost_scaling_factor: 2.5
      PathFollowCritic:
        enabled: true
        cost_weight: 5.0
      PathAngleCritic:
        enabled: true
        mode: 0           # prefer gerak ke depan relatif ke path
        cost_weight: 2.0
      GoalAngleCritic:
        enabled: true
        cost_weight: 1.0
      PreferForwardCritic:
        enabled: true
        cost_weight: 5.0  # dorong gerak maju & hindari mundur/nyerong berlebihan
      TwirlingCritic:
        cost_weight: 1.0
      GoalCritic:
        enabled: true
        cost_power: 1
        cost_weight: 5.0
        threshold_to_consider: 1.4

planner_server:
  ros__parameters:
    expected_planner_frequency: 20.0
    use_sim_time: False
    planner_plugins: ["GridBased"]
    GridBased:
      plugin: "nav2_navfn_planner/NavfnPlanner"
      tolerance: 0.5
      use_astar: false
      allow_unknown: true

velocity_smoother:
  ros__parameters:
    use_sim_time: False
    smoothing_frequency: 20.0
    scale_velocities: False
    feedback: "OPEN_LOOP"
<<<<<<< HEAD
    max_velocity: [0.6, 0.6, 1.0]
    min_velocity: [-0.6, -0.6, -1.0]
=======
    max_velocity: [0.6, 0.2, 1.8]
    min_velocity: [0.0, -0.2, -1.0]
>>>>>>> 8719e0f (update mppi)
    max_accel: [2.5, 2.5, 3.2]
    max_decel: [-2.5, -2.5, -3.2]
    odom_topic: "/odom"
    odom_duration: 0.1
    deadband_velocity: [0.0, 0.0, 0.0]
<<<<<<< HEAD
    velocity_timeout: 1.0
=======
    velocity_timeout: 1.0
>>>>>>> 8719e0f (update mppi)
